
* {
    font-family: 'Courgette', cursive;
    box-sizing: border-box;
}

html, body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

/* HEADER */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #222525;
    font-size: 18px;
}

.headertop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background-color: #f8f5f2;
    display: flex;
    flex-direction: column;
    padding: 10px 300px 60px;
}

.headerLogo {
    color: #232323;
    font-size: 24px;
}

.headerTitle {
    color: #232323;
    font-size: 48px;
    font-weight: 900;
}

.headerText {
    color: #222525;
    font-size: 18px;
}

.headerImage {
    color: #222525;
    font-size: 18px;
    width: 600px;
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 50px;
    
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: #078080 solid 3px;
    border-radius: 15px;
    flex: 1;
}

.cardone {
    object-position: 50% 5%;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.headtextcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
    height: auto;
    margin-bottom: 30px;
}

.signUpBtn {
    color: #222525;
    background-color: #078080;
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.1s;
    font-weight: 600;
}

.signUpBtn:hover {
    background-color: white;
    border: #078080 solid 1px;
    color: #078080;
    cursor: pointer;
}

/* CONTENT */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 300px 60px;
}

.contentTitle {
    font-size: 36px;
    font-weight: 900;
    color: #232323;
}

.cardContainer {
    display: flex;
    gap: 50px;
}

.cardImage {
    width: 200px;
    height: 200px;
    display: flex;
}

.imageCard {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: #078080 solid 3px;
    border-radius: 15px;
    flex: 1;
}

.cardText {
    width: 200px;
    text-align: center;
}

/* QUOTE */

.quoteContainer {
    background-color: #222525;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 380px;
    padding: 10px 300px 10px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 790px;
    color: #f8f5f2;
    margin-bottom: 0;
}

.customer {
    font-size: 24px;
    color: #f8f5f2;
    font-weight: 900;
    margin-left: 420px;
    margin-top: 0;
    padding-top: 0;
}

/* SIGNUP BOT */

.signUpBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 300px;
}

.signUpBotContent {
    display: flex;
    background-color: #078080;
    width: 1000px;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    height: 150px;
    flex-shrink: 0;
}

.botTextContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.botTitle {
    color: #232323;
    margin: 0;
    font-size: 20px;
}

.botText {
    color: #222525;
    margin: 0;
}

.signUpBtnBot {
    color: #222525;
    background-color: #078080;
    border: #222525 solid 2px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.1s;
    font-weight: 600;
}


.signUpBtnBot:hover {
    background-color: white;
    border: #078080 solid 1px;
    color: #078080;
    cursor: pointer;
}

/* FOOTER */

.footer {
    background-color: #f8f5f2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footerText {
    color: #222525;
}